# Ignorar carpetas de compilación
bin/
obj/

# Archivos ejecutables y de depuración
*.exe
*.pdb

# Configuración local
.vscode/
.vs/
*.suo

# Archivos temporales y de caché
*.tmp
*.log

# Archivos de sistema
AppData/
Application Data/
Local Settings/
My Documents/
NTUSER.DAT*
Thumbs.db

# Ignorar datos específicos del proyecto
source/repos/**/.vs/
source/repos/**/bin/
source/repos/**/obj/
